<div class="demo-content">

    <div layout="row" layout-align="center center" >
        <md-button ng-if="!vm.autorise_affich_button_report" class="custum_button" style="color: #f8670d;" ui-sref="app.population_reporting_environment_et_systeme">Consulter Suivi Stratégique</md-button>
        <md-button ng-if="!vm.autorise_affich_button_reg" class="custum_button" style="color: #f8670d;" ui-sref="app.population_registre_beneficiaire">Consulter Regitre Bénéficiaire</md-button>
        <md-button ng-if="!vm.autorise_affich_button_annuaire" class="custum_button" style="color: #f8670d;" ui-sref="app.population_annuaire">Annuaire d'intervention</md-button>
    </div>
    
    <div class="form-wrapper md-whiteframe-1dp" flex="100">
        <span><center><img src="assets/images/backgrounds/acc.jpg"></center></span>
    </div>
        
    <blockquote >
        <p>
           « .............................» 
        </p>
        <footer>
            ....
        </footer>
    </blockquote>


    <blockquote >
        <p>
            « ............................. »
        </p>
        <footer >
            ....
        </footer>
    </blockquote>

  

</div>