<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div>
                <span><img src="logo_MPPSPF.png"></span>
            </div>
            <div>
                <span><img src="logo_population.png"></span>
            </div>

            <div class="title" translate="RESETPASSWORD.TITLE">Reset your password</div>

            <div layout="column" layout-align="start center">
              

              <span>
                <b>Le mot de passe doit:</b>  <br>
                - Contenir au moins 8 caractères <br>
                - Contiennent au moins un chiffre <br>
                - Contiennent au moins 1 caractère de base (A-z) <br>
                - Contiennent au moins un caractère majuscule (A-Z) <br>
                - Contient seulement 0-9a-zA-Z
              </span>
            
            </div>
            

            <form name="resetPasswordForm" novalidate>
                <!--md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email address"
                           translate translate-attr-placeholder="RESETPASSWORD.EMAIL_ADRESS" 
                           ng-pattern="/^.+@.+\..+$/"  readonly="true" 
                           required>

                    <div ng-messages="resetPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="RESETPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container!-->

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/"
                           required>
                    <div ng-messages="resetPasswordForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>

                              - Contenir au moins 8 caractères <br>
                              - Contiennent au moins un chiffre <br>
                              - Contiennent au moins 1 caractère de base (A-z) <br> 
                              - Contiennent au moins un caractère majuscule (A-Z) <br>
                              - Contient seulement 0-9a-zA-Z <br>
                              <!--

                                  /^
                                    (?=.*\d)          // should contain at least one digit
                                    (?=.*[a-z])       // should contain at least one lower case
                                    (?=.*[A-Z])       // should contain at least one upper case
                                    [a-zA-Z0-9]{8,}   // should contain at least 8 from the mentioned characters
                                  $/
                              -->
                              
                            </span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="resetPasswordForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>

                        <div ng-if="vm.form.password != vm.form.passwordConfirm">
                            <span>Vérifier votre saisie</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent " aria-label="UPDATE MY PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine || (vm.form.password != vm.form.passwordConfirm)"
                           translate="RESETPASSWORD.UPDATE_PASSWORD"
                           translate-attr-aria-label="RESETPASSWORD.UPDATE_PASSWORD"
                           ng-click="vm.reinit(vm.form)">
                    RESET MY PASSWORD
                </md-button>

                
            </form>
        </div>
    </div>
</div>
