  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Localisation</span>

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Region</span>
            </div>

            <div class="title">Region</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
            <!-- LISTE TABLE -->
    <div class="content"layout="column">
      <div class="form-wrapper">
      <div style="widht:100%;">    
          <md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
              Nouveau
          </md-button>
          <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
              Modifier
          </md-button>
          <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
              Supprimer
          </md-button>
        </div>  
        <div style="clear:both;"></div>
                    <!-- BASIC FORM -->
        <md-tabs md-dynamic-height ng-show="vm.affichageMasque==1">
          <md-tab label="Ajout Region">
            <md-tab-body>
              <form name="regionform" class="md-inline-form" novalidate>
                <div layout="column" layout-gt-xs="row" flex>
                  <input type="hidden" ng-model="vm.region.id"></input>
                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="text" name="code" ng-model="vm.region.code"
                        placeholder="Code" ng-init="vm.region.code=''"
                        required>
                        <div ng-messages="regionform.code.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Code obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="text" name="nom" ng-model="vm.region.nom"
                        placeholder="Nom " ng-init="vm.region.nom=''"
                        required>
                        <div ng-messages="regionform.nom.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Nom obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="number" name="surface" ng-model="vm.region.surface"
                        placeholder="Superficie " ng-init="vm.region.surface=''"
                        >
                        <!--div ng-messages="regionform.surface.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Superficie obligatoire.</span>
                          </div>
                        </div-->
                    </md-input-container>

                </div>
                <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                      ng-disabled="regionform.$invalid" ng-click="vm.ajout(vm.region,0)">
                      Enregistrer
                </md-button>
                <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                  Annuler
                </md-button>
              </form>
            </md-tab-body>
       
          </md-tab>
        </md-tabs>
         <!-- / BASIC FORM -->
        <md-tabs md-dynamic-height>

          <md-tab label="Liste">
            <table class="dataTable row-border hover" datatable="ng"
              dt-options="vm.dtOptions">
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="re in ::vm.region_column">
                    <div class="table-header">
                      <span class="column-title">{{re.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="region in vm.allregion"  ng-class="{selected: region.$selected}" ng-click="vm.selection(region)">
                  <td>{{region.code}}</td>
                  <td>{{region.nom}}</td>
                  <td>{{region.surface | number}}</td>
                </tr>
              </tbody>
            </table>
          </md-tab>
        </md-tabs>
            <!-- / LISTE TABLE -->


      </div>
    </div>
    <!-- / CONTENT -->
  </div>
